*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Header */
header{
    padding-inline: 100px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-nav{
    margin-left: 150px;
}

.navbar-nav>li{
    margin-left: 15px;
    font-size: 20px;
}

.icons>a{
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    margin-left: 20px;
}

.icons>a>div{
    height: 50px;
    font-size: 20px;
    display: flex;
    padding-top:9px;
    padding-inline: 18px;
}

.icons>a:hover{
    color: white;
    background-color: black;
}

.icons>a>div>p{
    padding-left: 15px;
}

/* main section */
main{
    width: 87vw;
    margin: auto;
}